body{background-color: pink;}
h1{color:rgb(195, 95, 37); font-family:cursive;}
h1{text-align: center;}
p{
    font-size: larger;
    font-family:cursive;
    text-align: justify;

    margin-top:30px;
    margin-bottom:90px;
    margin-right:50px;
    margin-left:80px;
}

table{
    border-spacing: 10px;
    font-family:cursive;
    font-size: larger;
    background-color:beige;
    border-color: blueviolet;
    margin-top:30px;
    margin-bottom:90px;
    
}
li{margin-bottom: 10px;}

ul{font-size: larger;
font-family: cursive;
margin-top:30px;
    margin-bottom:50px;
    
}
    
a:hover{color:coral}